@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed");
@font-face {
  font-family: "Acme", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira Extra Condensed"; }

html {
  background: #2E294E;
  width: 100vw;
  overflow-x: hidden; }

.logo {
  width: 25%;
  margin: 0 auto;
  padding-top: 2%; }

.logo img {
  width: 100%; }

.left-rocket, .right-rocket {
  position: absolute;
  top: 2%;
  width: 33.33%; }

.left-rocket {
  left: -6%; }

.right-rocket {
  right: -6%; }

.register-login-background {
  background: #8661C1;
  height: 76vh;
  margin: auto;
  width: 75%;
  position: relative;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.3); }

.register-login-header {
  position: absolute;
  top: 15%; }

.header-p-text {
  font-size: 35px;
  color: #FFFFFF;
  text-align: center;
  width: 100%; }

.register-login-image {
  width: 100%; }

.register-login-form {
  background: #EFBCD5;
  float: right;
  top: 0%;
  height: 100%;
  position: absolute;
  right: 0;
  width: 50%; }

.login-header-button {
  background: #8661C1;
  font-size: 35px;
  color: white;
  float: left;
  cursor: pointer;
  text-align: center;
  width: 50%; }

.register-header-button {
  background: #EFBCD5;
  font-size: 35px;
  color: white;
  float: left;
  cursor: pointer;
  text-align: center;
  width: 50%; }

.register-header-text {
  font-size: 35px;
  color: white;
  padding-bottom: 3%; }

.register-inputs {
  text-align: center;
  position: absolute;
  top: 11%; }

.register-inputs ::-webkit-input-placeholder {
  color: white; }

.register-login-form input {
  border: none;
  border-bottom: 2px solid #4B5267;
  width: 83.33%;
  background: inherit;
  height: 50px;
  margin-bottom: 3%;
  font-size: 20px;
  outline: none; }

.register-login-form input:focus {
  border-color: #8661C1; }

.register-form-button {
  height: 50px;
  width: 33.33%;
  background: #8661C1;
  color: white;
  border: #8661C1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-top: 2%; }
